<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NOHunterGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NOHunterGame.Properties.Settings>
            <setting name="BACKGROUND_MUSIC" serializeAs="String">
                <value>main.mp3</value>
            </setting>
            <setting name="BUTTON_WRONG_SOUND" serializeAs="String">
                <value>wrong_choice.wav</value>
            </setting>
            <setting name="BUTTON_RIGHT_SOUND" serializeAs="String">
                <value>right_choice.wav</value>
            </setting>
            <setting name="BUTTON_MOUSE_ENTER_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="BUTTON_MOUSE_LEAVE_SOUND" serializeAs="String">
                <value />
            </setting>
            <setting name="BUTTON_APPEAR_SOUND" serializeAs="String">
                <value>appear.wav</value>
            </setting>
            <setting name="START_SOUND" serializeAs="String">
                <value>go.wav</value>
            </setting>
            <setting name="FINISHED_SOUND" serializeAs="String">
                <value />
            </setting>
        </NOHunterGame.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
