<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <RootSectionGroup>
    <FilterConfigSection>
      <MouseFilter FilterDllName="Microsoft.MultiPoint.MultiPointMousePlugin.dll" SuppressDeviceEvents="false" SuppressGenericEventsIfDeviceEventsHandled="false" />
      <KeyBoardFilter FilterDllName="Microsoft.MultiPoint.MultiPointKeyboardPlugin.dll" SuppressDeviceEvents="false" SuppressGenericEventsIfDeviceEventsHandled="false"/>
      <HIDFilters>
        <HIDFilter FilterDllName="Microsoft.MultiPoint.MultiPointHidPlugIn1.dll" SuppressDeviceEvents="false" SuppressGenericEventsIfDeviceEventsHandled="false" />
        <HIDFilter FilterDllName="Microsoft.MultiPoint.MultiPointHidPlugIn2.dll" SuppressDeviceEvents="false" SuppressGenericEventsIfDeviceEventsHandled="true" />
      </HIDFilters>
    </FilterConfigSection>

    <ProviderConfigSection>
      <MouseProvider ProviderDllName="Microsoft.MultiPoint.MultiPointMousePlugin.dll" TimeIntervalForEvents="5"/>
      <KeyBoardProvider ProviderDllName="Microsoft.MultiPoint.MultiPointKeyboardPlugin.dll" TimeIntervalForEvents="1"></KeyBoardProvider>
      <HIDProviders>
        <HIDProvider ProviderDllName="Microsoft.MultiPoint.MultiPointHidPlugIn1.dll" TimeIntervalForEvents="5"/>
        <HIDProvider ProviderDllName="Microsoft.MultiPoint.MultiPointHidPlugIn2.dll" TimeIntervalForEvents="5"/>
      </HIDProviders>
    </ProviderConfigSection>
  </RootSectionGroup>
</configuration>